<%- include('header'); -%>



<table class="zui-table">
    <thead>
        <tr>
            <th style="border-radius: 20px 0 0 0;width: 100px;">Name</th>
            <th>Age</th>
            <th>Sex</th>
            <th>Weight</th>
            <th>Blood Pressure</th>
            <th>Mobile </th>
            <th>Prev Visit</th>
            <th>Complaints</th>
            <th>Extra Note</th>
            <th style="border-radius: 0 20px 0 0;">Next Visit</th>
        </tr>
    </thead>
    <tbody>
        <%  patients.forEach(function(patient){ %>
        <tr>
            <td> <%= patient.name %> </td>
            <td><%= patient.age %></td>
            <td><%= patient.gender %></td>
            <td><%= patient.weight %></td>
            <td><%= patient.bp %></td>
            <td><%= patient.mobno %></td>
            <td><%= patient.pVisit %></td>
            <td><%= patient.complaints %></td>
            <td><%= patient.extra %></td>
            <td><%= patient.nVisit %></td>
        </tr>
        <% }) %>

    </tbody>
</table>
